<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="333" nbMaxFindHistoryReplace="30" matchWord="no" matchCase="yes" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="2" transparencyMode="1" transparency="64" dotMatchesNewline="no" isSearch2ButtonsMode="yes">
        <Path name="D:\MSYS\usr\src\notepadpp\PowerEditor\src" />
        <Path name="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent" />
        <Path name="D:\MSYS\usr\src\notepadpp\Release" />
        <Path name="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\TaskList" />
        <Path name="D:\MSYS\usr\src\notepadpp\PowerEditor\src\" />
        <Path name="X:\T\" />
        <Path name="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\" />
        <Path name="D:\MSYS\usr\src\notepadpp\" />
        <Path name="D:\MSYS\usr\src\notepadpp\PowerEditor\src; D:\MSYS\usr\src\notepadpp\scintilla" />
        <Path name="D:\MSYS\usr\src\Ethereal\src" />
        <Filter name="*.cpp *.h" />
        <Filter name="*.cpp *.h *.rc *.xml" />
        <Filter name="*.cpp *.h *.rc" />
        <Filter name="*.cpp" />
        <Filter name="*.rc" />
        <Filter name="*.cpp *.h " />
        <Filter name="*.*" />
        <Filter name="*.js " />
        <Filter name="*.vc* *.sln *.xml" />
        <Filter name="*.vc* *.sln" />
        <Find name="ppEditView" />
        <Find name="FindReplaceDlg" />
        <Find name="Window" />
        <Find name="ScintillaEditView" />
        <Find name="NativeLangSpeaker" />
        <Find name="WM_MOUSEWHEEL" />
        <Find name="CreateWindowEx" />
        <Find name="StatusBar" />
        <Find name="_hSelf" />
        <Find name="SCNotification" />
        <Find name="bool" />
        <Find name="expandNppEnvironmentStrs" />
        <Find name="NPP_DIRECTORY" />
        <Find name="NPP_FULL_FILE_PATH" />
        <Find name="SCI_PASTE" />
        <Find name="STATUSBAR_CUR_POS" />
        <Find name="IDM_FILE_OPEN_FOLDER" />
        <Find name="IDM_FILE_SAVEALL" />
        <Find name="break" />
        <Find name="case" />
        <Find name="_pEditView" />
        <Find name="to_wstring" />
        <Find name="_statusBar" />
        <Find name="lastMainText" />
        <Find name="getRandomNumber" />
        <Find name="offsetSB" />
        <Find name="setLangStatus" />
        <Find name="beginSelectPos" />
        <Find name="\bc_str(?!\()\b" />
        <Find name="c_str(?!\()" />
        <Find name="ovLText" />
        <Find name="STATUSBAR_DOC_NAME" />
        <Find name="display" />
        <Find name="_statusBarShow" />
        <Find name="NB_SB" />
        <Find name="_dpiManager" />
        <Find name="IDC_MAIN_FIND_RESULTS" />
        <Find name="STATUSBAR_INFO" />
        <Find name="IDC_INFOS" />
        <Find name="IDC_UNDO_2" />
        <Find name="IDM_EDIT_PASTE" />
        <Find name="STATUSBAR_DOC_TYPE" />
        <Find name="STATUSBAR_DOC_SIZE" />
        <Find name="putMvmntInView" />
        <Find name="ptrSci-&gt;" />
        <Find name="fndStart" />
        <Find name="scrollPosToCenter" />
        <Find name="SCI_VISIBLEFROMDOCLINE" />
        <Find name="foldAllToggle" />
        <Find name="toggleFold(" />
        <Find name="IDM_VIEW_TOGGLE_FOLDCURRENT" />
        <Find name="FOLD" />
        <Find name="SC_FOLD" />
        <Find name="checkUndoState" />
        <Find name="ScintID" />
        <Find name="SCI_LINEENDWRAPEXTEND" />
        <Find name="IDM_EDIT_UNDO" />
        <Find name="SCI_UNDO" />
        <Find name="bookmarkAdd" />
        <Find name="bookmarkToggle" />
        <Find name="bookmarkNext" />
        <Find name="IDM_SEARCH_NEXT_BOOKMARK" />
        <Find name="SCI_GETFIRSTVISIBLELINE" />
        <Find name="displaySectionCentered" />
        <Find name="IDM_EDIT_TOGGLEOVERTYPE" />
        <Find name="SCI_\w*?CARET" />
        <Find name="SCI_\w*?SWAP" />
        <Find name="SCI_SWAP" />
        <Find name="IDM_EDIT_RMV_TAB" />
        <Find name="commafyInt" />
        <Find name="create\(" />
        <Find name="IDD_RUN_DLG" />
        <Find name="RunDlg" />
        <Find name="_runDlg" />
        <Find name="IDM_EXECUTE" />
        <Find name="IDM_TOOL_MD5_GENERATEINTOCLIPBOARD" />
        <Find name="Tool" />
        <Find name="appText" />
        <Find name="lastText" />
        <Find name="IDM_VIEW_SUMMARY" />
        <Find name="%.*?C\b" />
        <Find name='(?:\+=)?\h*L&quot;\h*C\b' />
        <Find name='(?:\+=)?\h*L&quot;\h*C' />
        <Find name='(?:\+=)?\h*L&quot;\h*C    ' />
        <Find name='(?:\+=)?\h*L&quot;\h*L    ' />
        <Find name='(?:L&quot;|\+=)\h*L    ' />
        <Find name='(?:L&quot;|\+=)L    ' />
        <Find name='L\h*&quot;L\h+' />
        <Find name='L\h*&quot;L\h+%' />
        <Find name='L&quot;L\b' />
        <Find name='L&quot;L' />
        <Find name='L&quot;L ' />
        <Find name="STATUSBAR_EOF_FORMAT" />
        <Find name="begin" />
        <Find name="STATUSBAR_" />
        <Find name="setOwnerDrawText" />
        <Find name="lastSetText" />
        <Find name="beginOrEndSelect" />
        <Find name="_partWidthArray" />
        <Find name="setPartWidth" />
        <Find name="STATUSBAR_DOC_" />
        <Find name="setText\(" />
        <Find name="SCI_S" />
        <Find name="IDM_EDIT_BEGINENDSELECT" />
        <Find name="menuLangName" />
        <Find name="mainDoc\w" />
        <Find name="getLangFromMenu" />
        <Find name="checkSyncState" />
        <Find name="NPPM_GETCURRENTDIRECTORY" />
        <Find name="SendMessage" />
        <Find name="SCI_SETYCARETPOLICY" />
        <Find name="SCINTILLA_USER" />
        <Find name="WM_" />
        <Find name="WM_UNDO" />
        <Find name="CB_SETCURSEL" />
        <Find name="CB_FINDSTRINGEXACT" />
        <Find name="SCI_GETFOLDLEVEL" />
        <Find name="\b(?=\W)" />
        <Find name="NPPM_ACTIVATEDOC" />
        <Find name="SORT_DIRECTION_DOWN" />
        <Find name="VerticalFileSwitcher" />
        <Find name="_pClipboardHistoryPanel" />
        <Find name="FALSE" />
        <Find name="MAKELONG" />
        <Find name="LONG" />
        <Find name="Sort " />
        <Find name="Sort tabs" />
        <Find name="SCI_SETXOFFSET" />
        <Find name="STYLE_BRACEBAD" />
        <Find name="SCI_GETINDENTATIONGUIDES" />
        <Find name="attachDefaultDoc" />
        <Find name="SCI_GETDOCPOINTER" />
        <Find name="restoreCurrentPosPreStep" />
        <Find name="scnN" />
        <Find name="(?&lt;=\w)(?=\W)" />
        <Find name="(?&lt;=\w)\b" />
        <Find name="\b" />
        <Find name="\w\b" />
        <Find name="killAllChildren" />
        <Find name="_pFileBrowser" />
        <Find name="fgColor" />
        <Find name="_statusbarFindStatus" />
        <Find name="DIR_DOWN" />
        <Find name="_isWrapAround" />
        <Find name="_txt2replace" />
        <Find name="txt2replace" />
        <Find name="_txt2find" />
        <Find name="txt2find" />
        <Find name="execute" />
        <Find name="setText(" />
        <Find name="SCI_LINE" />
        <Find name="reinfo" />
        <Find name="SCI_LINEFROMPOSITION" />
        <Find name="auto" />
        <Find name="SCI_WORDSTARTPOSITION" />
        <Find name="SCI_AUTOC" />
        <Find name="SCI_GETSTYLEAT" />
        <Find name="SCI_SETANCHOR" />
        <Find name="MainFileManager" />
        <Find name="SCI_SETSELECTIONMODE" />
        <Find name="_currentBufferID" />
        <Find name="int32_t" />
        <Find name="pEditView" />
        <Find name="Searching" />
        <Find name="delete" />
        <Find name="_allocLen" />
        <Find name="WcharMbcsConvertor" />
        <Find name="operator" />
        <Find name="SCINTILLA_PTR" />
        <Find name="Notepad_plus_Window" />
        <Find name="\w(oo]" />
        <Find name="SortTaskListPred" />
        <Find name="unsigned" />
        <Find name="\w(oo)l" />
        <Find name="constexpr" />
        <Find name="getShortcuts" />
        <Find name="triggerFromNbChar" />
        <Find name="childNode" />
        <Find name="idStr" />
        <Find name="FolderName" />
        <Find name="\b\w(oo)\w*l" />
        <Find name="_putRecentFileInSubMenu" />
        <Find name="lstrcmp" />
        <Find name="\w(oo)" />
        <Find name="\b\w(oo)" />
        <Find name="return" />
        <Find name="SCI_CONVERTEOLS" />
        <Find name="SCI_GETEOLMODE" />
        <Find name="command_mutex" />
        <Find name="\\n(+\W)" />
        <Find name="\\n\h+W" />
        <Find name="\\r\\n\h" />
        <Find name="4401" />
        <Find name="LanguageName" />
        <Find name="_fontName" />
        <Find name="timeinfo" />
        <Find name="_month" />
        <Find name="_year" />
        <Find name="UserLangContainer" />
        <Find name="NppParameters" />
        <Find name="_defaultCharList" />
        <Find name="_SC_MARGE_FOLDER" />
        <Find name="insertGenericTextFrom" />
        <Find name="appandGenericText" />
        <Find name="SCE_USER_KWLIST_COMMENTS" />
        <Find name="_keywordLists" />
        <Find name="pOldView" />
        <Find name="_fontSize" />
        <Find name="lexerUserExt" />
        <Find name="_colorStyle" />
        <Find name="setSpecialStyle" />
        <Find name="COLORSTYLE_FOREGROUND" />
        <Find name="_styleID" />
        <Find name="changeTextDirection" />
        <Find name="startPos" />
        <Find name="\r\n" />
        <Find name="keywordList" />
        <Find name="ViewElem" />
        <Find name="_activeView" />
        <Find name="WordStyleDlg" />
        <Find name="setStyle" />
        <Find name="VK_PRIOR" />
        <Find name="IDC_NEXT_DOC" />
        <Find name="VK_TAB" />
        <Find name="VK_0" />
        <Find name="VK_NUMPAD1" />
        <Find name="_styleDesc" />
        <Find name="create" />
        <Find name="checkItem" />
        <Find name="AddDirectory" />
        <Find name="AnsiCharPanel" />
        <Find name=" %d " />
        <Find name="HINSTANCE" />
        <Find name="DockingDlgInterface" />
        <Find name="styleName" />
        <Find name="DocTabView" />
        <Find name="findBufferByName" />
        <Find name="activateBuffer" />
        <Find name="AI_PROJECTPANELTITLE" />
        <Find name="ETDT_ENABLETAB" />
        <Find name="enableDlgTheme" />
        <Find name="ETDTProc" />
        <Find name="CB_ERR" />
        <Find name="Notepad_plus" />
        <Find name="MF_BYCOMMAND" />
        <Find name="nbChar" />
        <Find name="static" />
        <Find name="buffer" />
        <Find name="doReload" />
        <Find name="DOC_DELETED" />
        <Find name=" " />
        <Find name="nmhdr" />
        <Find name="BUFFER_INVALID" />
        <Find name="BufferID" />
        <Find name="nbIntervalTime" />
        <Find name="_autoCompleteMain" />
        <Find name="_subEditView" />
        <Find name="_dockingManager" />
        <Find name="_scintillaCtrls4Plugins" />
        <Find name="_pPublicInterface" />
        <Find name="LoadImage" />
        <Find name="HICON" />
        <Find name="setForegroundColor" />
        <Find name="nullptr" />
        <Find name="static_cast" />
        <Find name="GetLastErrorAsString" />
        <Find name="retResult" />
        <Find name="enableItem" />
        <Find name="isUserReadOnly" />
        <Find name="CheckMenuItem" />
        <Find name="getMenuHandle" />
        <Find name="ContextMenu" />
        <Find name="doEnable" />
        <Find name="EnableMenuItem" />
        <Find name="doCheck" />
        <Find name="MIIM_FTYPE" />
        <Find name="IDM_VIEW_SYNSCROLLH" />
        <Find name="_playingBackMacro" />
        <Find name="execSavedCommand" />
        <Find name="messageBox" />
        <Find name="_nativeLangSpeaker" />
        <Find name="changeUserDefineLang" />
        <Find name="doDialog" />
        <Find name="isFirstTime" />
        <Find name="IDM_SEARCH_GOTOMATCHINGBRACE" />
        <Find name="braceAtCaret" />
        <Find name="findMatchingBracePos" />
        <Find name="braceOpposite" />
        <Find name="_definedSessionExt" />
        <Find name="IDC_EDIT_SESSIONFILEEXT" />
        <Find name="VK_NULL" />
        <Find name="NPPM_ISDOCSWITCHERSHOWN" />
        <Find name="process" />
        <Find name="SCE_UNIVERSAL_FOUND_STYLE_EXT4" />
        <Find name="styleID" />
        <Find name="element" />
        <Find name="_styleArray" />
        <Find name="result" />
        <Find name="currentlineNumberVis" />
        <Find name="firstVisibleLineVis" />
        <Find name="FindOption" />
        <Find name="enableFindInFilesControls" />
        <Find name="IDC_UNDO" />
        <Find name="IDC_CLEAR_FINDALL_CURRENTFILE" />
        <Find name="_toolBar" />
        <Find name="IDM_VIEW_FILEBROWSER" />
        <Find name="loadOkay" />
        <Find name="_nppGUI" />
        <Find name="workspaceExt" />
        <Find name="TCHAR" />
        <Find name="SendDlgItemMessage" />
        <Find name="setStatusbarMessage" />
        <Find name="mutex" />
        <Find name="setClosed" />
        <Find name="getFileBrowserRoots" />
        <Find name="nppParam" />
        <Find name="Notepad+-" />
        <Find name="WM_FINDINFILES" />
        <Find name="include" />
        <Find name="l isAl" />
        <Find name="isCtrl" />
        <Find name="std" />
        <Find name="isMonit" />
        <Find name="GetSystemInfo" />
        <Find name="xmlFullPath" />
        <Find name="VK_N" />
        <Find name="IDM_MACRO_RUNMULTIMACRODLG" />
        <Find name="_mainEditView" />
        <Find name="showWSAndTab" />
        <Find name="ShellExecute" />
        <Find name="NPPM_SHOWDOCSWITCHER" />
        <Find name="_hParent" />
        <Find name="_pDocMap" />
        <Replace name="lastText" />
        <Replace name="lastMainText" />
        <Replace name="mainText" />
        <Replace name="STATUSBAR_INFOS" />
        <Replace name="STATUSBAR_INFO" />
        <Replace name="lastSetText" />
        <Replace name="constexpr" />
        <Replace name="unsigned" />
        <Replace name="pOldView" />
        <Replace name="constexpr " />
        <Replace name="$0" />
        <Replace name="enum" />
        <Replace name="IDM_VIEW_FUNC_LIST" />
        <Replace name="NativeLangSpeaker" />
        <Replace name="_stopFillingFindField" />
        <Replace name="Switch to next document" />
        <Replace name="::GetFocus" />
        <Replace name="fgColor" />
        <Replace name="_statusbarFindStatus" />
        <Replace name="status" />
        <Replace name="STopReached || statu" />
        <Replace name="_nativeLangSpeaker" />
        <Replace name="IDFINDWHAT" />
        <Replace name="Visible" />
        <Replace name="Vosible" />
        <Replace name="focus\(\)" />
        <Replace name="#\1" />
        <Replace name=":nth-child\(\1\)" />
        <Replace name="&gt;" />
        <Replace name="face" />
    </FindHistory>
    <History nbMaxFile="256" inSubMenu="no" customLength="35">
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\DockingWnd\DockingManager.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\DockingWnd\DockingCont.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\Preference\preference_rc.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\MISC\RegExt\regExtDlg.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\MISC\Common\Common.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\FunctionList\functionParser.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\Notepad_plus_Window.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\Grid\BabyGrid.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\resource.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\columnEditor.cpp" />
        <File filename="D:\WORK\.REGs\HKCR.reg" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\FindReplaceDlg.rc.rc" />
        <File filename="D:\WORK\SoftScreen\cscss\quora.css" />
        <File filename="D:\WORK\SoftScreen\cscss\soft.css" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\DockingWnd\DockingDlgInterface.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\StaticDialog\StaticDialog.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\WinControls\DockingWnd\DockingDlgInterface.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\ScitillaComponent\FindReplaceDlg.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\NppBigSwitch.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\ScitillaComponent\FindReplaceDlg.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\WinControls\Window.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\Window.h" />
        <File filename="D:\MSYS\home\Budi\.bashrc" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\dpiManager.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_m\Notepad_plus.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\AboutDlg\AboutDlg.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\Release\contextMenu.xml" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\TaskList\TaskListDlg.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\MISC\PluginsManager\PluginInterface.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\FindReplaceDlg.rc" />
        <File filename="D:\MSYS\usr\src\notepadpp\Release\autoCompletion\cpp.xml" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\Preference\preference.rc" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\DocTabView.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\AnsiCharPanel\ansiCharPanel.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\FileBrowser\fileBrowser.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\ContextMenu\ContextMenu.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\keys.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\Release\config.xml" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\Notepad_plus_Window.cpp" />
        <File filename="D:\WORK\SoftScreen\setting\opt.html" />
        <File filename="D:\MSYS\usr\src\notepadpp\Release\shortcuts.xml" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\NppIO.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\ColourPicker\WordStyleDlg.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\WinControls\StatusBar\StatusBar.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src_master\WinControls\StatusBar\StatusBar.h" />
        <File filename="D:\MSYS\usr\src\k.cpp" />
        <File filename="Z:\Notepp\autoCompletion\cpp.xml" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\AutoCompletion.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\Notepad_plus.rc" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\menuCmdID.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\resource.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\MISC\Common\Common.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\StaticDialog\RunDlg\RunDlg.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\lesDlgs.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\MISC\PluginsManager\Notepad_plus_msgs.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\NppBigSwitch.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\ScintillaEditView.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\Preference\preferenceDlg.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\Preference\preferenceDlg.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\ProjectPanel\ProjectPanel.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\shortcut\shortcut.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\VerticalFileSwitcher\VerticalFileSwitcherListView.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\Parameters.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\Parameters.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\WindowsDlg\WindowsDlg.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\NppCommands.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\Notepad_plus.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\Printer.cpp" />
        <File filename="Z:\Notepp\stylers.xml" />
        <File filename="Z:\Notepp\shortcuts.xml" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\lastRecentFileList.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\contextMenu.xml" />
        <File filename="D:\MSYS\usr\src\key_rate\key.c" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\ScitillaComponent\ScintillaEditView.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\StatusBar\StatusBar.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\localization.cpp" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\localization.h" />
        <File filename="D:\MSYS\usr\src\notepadpp\PowerEditor\src\WinControls\StatusBar\StatusBar.h" />
    </History>
    <GUIConfigs>
        <GUIConfig name="ToolBar" visible="no">standard</GUIConfig>
        <GUIConfig name="StatusBar">show</GUIConfig>
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="no" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="yes" multiLine="no" hide="no" quitOnEmpty="yes" />
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" replaceBySpace="no" size="3" />
        <GUIConfig name="AppPosition" x="380" y="-16" width="1302" height="1078" isMaximized="no" />
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20171218">no</GUIConfig>
        <GUIConfig name="Auto-detection">auto</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="no" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <GUIConfig name="DetectEncoding">yes</GUIConfig>
        <GUIConfig name="NewDocDefaultSettings" format="0" encoding="0" lang="12" codepage="-1" openAnsiAsUTF8="no" />
        <GUIConfig name="langsExcluded" gr0="0" gr1="0" gr2="0" gr3="0" gr4="0" gr5="0" gr6="0" gr7="0" gr8="0" gr9="0" gr10="0" gr11="0" gr12="0" langMenuCompact="yes" />
        <GUIConfig name="Print" lineNumber="yes" printOption="3" headerLeft="" headerMiddle="" headerRight="" footerLeft="" footerMiddle="" footerRight="" headerFontName="" headerFontStyle="0" headerFontSize="0" footerFontName="" footerFontStyle="0" footerFontSize="0" margeLeft="0" margeRight="0" margeTop="0" margeBottom="0" />
        <GUIConfig name="Backup" action="0" useCustumDir="yes" dir="X:\T\NPP" isSnapshotMode="no" snapshotBackupTiming="71000" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">1</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="yes" fontSize="no" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="2" autoCIgnoreNumbers="no" funcParams="no" />
        <GUIConfig name="auto-insert" parentheses="yes" brackets="yes" curlyBrackets="no" quotes="no" doubleQuotes="no" htmlXmlTag="no" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="workspaceExt"></GUIConfig>
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="3" blinkRate="707" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="yes" />
        <GUIConfig name="openSaveDir" value="2" defaultDirPath="D:\MSYS\usr\src" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="" />
        <GUIConfig name="wordCharList" useDefault="yes" charsAdded="" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="multiInst" setting="2" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" backSlashIsEscapeCharacterForSql="yes" monospacedFontFindDlg="no" newStyleSaveDlg="no" isFolderDroppedOpenFiles="no" docPeekOnTab="no" docPeekOnMap="no" />
        <GUIConfig name="searchEngine" searchEngineChoice="2" searchEngineCustom="" />
        <GUIConfig name="SmartHighLight" matchCase="no" wholeWordOnly="yes" useFindSettings="no" onAnotherView="no">yes</GUIConfig>
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="hide" indentGuideLine="show" folderMarkStyle="circle" lineWrapMethod="indent" scrollBeyondLastLine="yes" disableAdvancedScrolling="no" wrapSymbolShow="hide" Wrap="yes" borderEdge="no" edge="no" edgeNbColumn="80" zoom="1" zoom2="0" whiteSpaceShow="hide" eolShow="hide" borderWidth="0" smoothFont="yes" />
        <GUIConfig name="DockingManager" leftWidth="155" rightWidth="416" topHeight="200" bottomHeight="310">
            <FloatingWindow cont="4" x="642" y="-8" width="1250" height="439" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="0" curr="1" prev="4" isVisible="yes" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44078" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44079" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44084" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44070" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="JSMinNPP.dll" id="0" curr="0" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="42051" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="42052" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="ComparePlugin.dll" id="11" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44081" curr="0" prev="-1" isVisible="no" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="no" />
            <PluginDlg pluginName="Notepad++::InternalFunction" id="44080" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="3P" id="2" curr="0" prev="-1" isVisible="no" />
            <PluginDlg pluginName="3P" id="1" curr="0" prev="-1" isVisible="no" />
            <ActiveTabs cont="0" activeTab="-1" />
            <ActiveTabs cont="1" activeTab="-1" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="-1" />
        </GUIConfig>
    </GUIConfigs>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
</NotepadPlus>
